<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>COCOA JSON Parser</title>
</head>
<body>

<h2>COCOA JSON Parser</h2>
<p>COCOAから取得したJSONデータ(exposure_data.json)を読み込み、解析するツールです。</p>

<form th:action="@{/}" method="post">
    <textarea name="json" cols="50" rows="20" th:text="${json}" placeholder="ここにexposure_data.jsonの中身を貼り付けてください。"></textarea>
    <input type="submit" value="解析">
</form>

<div id="caution">
    <h3>利用する上での注意事項</h3>
    <ul>
        <li>有志で作成したツールであり、最低限の動作確認しか行っていないため、ご利用は自己責任でお願いいたします。</li>
        <li>COCOAはリスクスコアや接触時間、最小/最大dbなどの条件を複合的に判断して通知を飛ばしているものと考えられます。<br>
            そのため、データによって長時間の接触や大きな値のリスクスコアが出力される場合がありますが、必ずしもリスクが大きいとは限りません。</li>
        <li>表示されるデータは最大14日前までのものです。それ以前のデータは出力されませんのでご注意ください。</li>
    </ul>
</div>

<div id="explanation">
    <h3>解析結果の説明</h3>
    <ul>
        <li>接触回数: 陽性登録者のデバイスとの接触が記録された回数</li>
        <li>リスクスコア: COCOAで算出されたリスクに関するスコア</li>
        <li>接触時間: 陽性登録者のデバイスとの接触が記録されていた時間(分)</li>
        <li>最小/最大db: 陽性登録者のデバイスとの通信状況(より近くにいた場合にdb値が高くなる傾向)</li>
    </ul>
</div>

<div id="resultArea">
    <h3>解析結果</h3>
    <p id="resultTable">ここに解析結果が表示されます。</p>
</div>

<div id="reference">
    <h3>参考</h3>
    <ul>
        <li><a href="https://github.com/cocoa-mhlw/cocoa" target="_blank">cocoa</a></li>
        <li><a href="https://github.com/ktansai/COVID-19-ExposeChecker" target="_blank">COVID-19-ExposeChecker</a></li>
    </ul>
    <h3>ソースコード</h3>
    <ul>
        <li><a href="https://github.com/chag-sh/cocoa-json-parser" target="_blank">github</a></li>
    </ul>
</div>

<input type="hidden" id="resultData" th:value="${result}">

<script th:src="@{/js/table.js}"></script>

</body>
</html>
