<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/content.min.css}" rel="stylesheet">
    <title>COCOA JSON Parser</title>
</head>
<body>
<div class="container">
    <div class="inline-contents" id="title">
        <h1>COCOA JSON Parser</h1>
    </div>
    <div class="inline-contents" id="body">
        <form class="request-form" th:action="@{/}" method="post">
            <textarea name="json" th:text="${json}" placeholder="COCOAから取得したexposure_data.jsonを貼り付けてください。"></textarea>
            <input type="submit" value="解析">
        </form>

        <div class="result">
            <div class="menu-parts">
                <h2>解析結果</h2>
                <p id="result-table">ここに解析結果が表示されます。</p>
            </div>
        </div>

        <div class="explanation">
            <div class="menu-parts">
                <h2>注意事項</h2>
                <ul>
                    <li>有志で作成したツールです。ご利用は自己責任でお願いいたします。</li>
                    <li>解析結果はあくまで参考程度に留めてください。COCOAはこれらの数値を総合的に判断し、リスクが高い場合にのみ通知しています。</li>
                    <li>表示されるデータは最大14日前までのものです。それ以前のデータは出力されません。</li>
                </ul>
            </div>

            <div class="menu-parts">
                <h2>解析結果の説明</h2>
                <ul>
                    <li>接触数: 接触した陽性者の人数</li>
                    <li>スコア: COCOAで算出されたリスク数値</li>
                    <li>接触時間: 陽性者デバイスとの接触時間</li>
                    <li>最小/最大db: 陽性者デバイスとの通信状況</li>
                </ul>
            </div>

            <div class="menu-parts">
                <h2>参考</h2>
                <ul>
                    <li><a href="https://github.com/cocoa-mhlw/cocoa" target="_blank">cocoa</a></li>
                    <li><a href="https://github.com/ktansai/COVID-19-ExposeChecker"
                           target="_blank">COVID-19-ExposeChecker</a>
                    </li>
                </ul>
            </div>

            <div class="menu-parts">
                <h2>ソースコード</h2>
                <ul>
                    <li><a href="https://github.com/chag-sh/cocoa-json-parser" target="_blank">github</a></li>
                </ul>
            </div>
        </div>
    </div>

    <input type="hidden" id="result-data" th:value="${result}">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/table.min.js}"></script>

</body>
</html>
