html {
    background-color: #ffe;
}

.container {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffe;
}

.inline-contents {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
}

.inline-contents#title {
    color: #ddd;
    background-color: #633;
    text-align: center;
    padding: 10px 0;
}

.inline-contents h1 {
    font-size: 2rem;
    margin: 10px;
}

.inline-contents p {
    margin: 10px;
}

.inline-contents form.request-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.inline-contents form.request-form textarea {
    width: 50%;
    max-width: 720px;
    height: 200px;
    resize: none;
}

.inline-contents form.request-form input {
    width: 50%;
    max-width: 720px;
}

.inline-contents div.explanation, div.result {
    margin: 0 auto;
    width: 50%;
    max-width: 720px;
}

.inline-contents h2 {
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 10px;
    border-bottom: 2px solid #633;
}

.inline-contents div.menu-parts {
    margin: 40px 0;
}

.inline-contents div.menu-parts ul li {
    margin: 10px 0;
}

.inline-contents .result-element {
    width: 80%;
    min-width: min(100%, 400px);
    max-width: 480px;
    margin: 10px auto;
}

.inline-contents .collapsable-toggle a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    width: 100%;
    background-color: #edb;
    transition: 0.3s;
}

.inline-contents .collapsable-toggle a:hover {
    color: inherit;
    background-color: #dca;
}

.inline-contents .collapsable-toggle a:visited {
    color: inherit;
}

.inline-contents .collapsable-toggle a[aria-expanded="false"]::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right: 0 solid transparent;
    border-left: 8px solid #000;
}

.inline-contents .collapsable-toggle a[aria-expanded="true"]::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 0 solid transparent;
    border-top: 8px solid #000;
}

.inline-contents .result-element table {
    width: 80%;
    margin: 10px auto;
    border: 2px solid #633;
}

.inline-contents .result-element th, td {
    border: 2px solid #633;
    padding: 5px 10px;
}

.inline-contents .result-element th {
    background-color: #edb;
}

@media screen and (max-width: 480px) {
    .inline-contents form.request-form textarea {
        width: 90%;
    }

    .inline-contents form.request-form input {
        width: 90%;
    }

    .inline-contents div.explanation, div.result {
        width: 90%;
    }

    .inline-contents .result-element {
        width: 100%;
    }

    .inline-contents .result-element table {
        width: 100%;
    }
}
